.icon-xngin {
    background-image: url('https://user-images.githubusercontent.com/343688/66523010-6f126480-eab4-11e9-9dc9-83e5f636938a.png');
    width: 64px;
    height: 64px;
    display: block;
    float: left;
}
