.icon-xngin {
    background-image: url('https://user-images.githubusercontent.com/343688/66528490-adfce600-eac5-11e9-98c8-c90ed27acdbb.pngg');
    width: 32px;
    height: 32px;
    display: block;
    float: left;
}
